In [2]:
import os
from dotenv import load_dotenv

import yfinance as yf
import pandas as pd

load_dotenv()
ALPHA_API_KEY = os.getenv("ALPHA_API_KEY")

'GC8BSW78J9GUAF7E'

In [36]:
import requests

# replace the "demo" apikey below with your own key from https://www.alphavantage.co/support/#api-key
symbol = "IBM"
month = "2024-11"
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={symbol}&interval=1min&month={month}&outputsize=full&apikey={ALPHA_API_KEY}'
r = requests.get(url)
data = r.json()


row_list = list()
for k in data["Time Series (1min)"].keys():
    daily_data = data["Time Series (1min)"][k]
    daily_dict = dict()
    daily_dict["time"] = k
    daily_dict["open"] = daily_data["1. open"]
    daily_dict["high"] = daily_data["2. high"]
    daily_dict["low"] = daily_data["3. low"]
    daily_dict["close"] = daily_data["4. close"]
    daily_dict["volume"] = daily_data["5. volume"]
    row_list.append(daily_dict)
data_df = pd.DataFrame.from_records(row_list)
data_df.set_index("time", inplace=True)
data_df.index = pd.to_datetime(data_df.index)
data_df.sort_index(ascending=True, axis=0, inplace=True)
data_df.to_csv(f"/home/bandee/projects/stockAnalyzer/trash_data/{symbol}_{month}.csv", index=True)

In [34]:
row_list = list()
for k in data["Time Series (1min)"].keys():
    daily_data = data["Time Series (1min)"][k]
    daily_dict = dict()
    daily_dict["time"] = k
    daily_dict["open"] = daily_data["1. open"]
    daily_dict["high"] = daily_data["2. high"]
    daily_dict["low"] = daily_data["3. low"]
    daily_dict["close"] = daily_data["4. close"]
    daily_dict["volume"] = daily_data["5. volume"]
    row_list.append(daily_dict)
data_df = pd.DataFrame.from_records(row_list)
data_df.set_index("time", inplace=True)
data_df.index = pd.to_datetime(data_df.index)
data_df.sort_index(ascending=True, axis=0, inplace=True)
data_df.to_csv(f"/home/bandee/projects/stockAnalyzer/trash_data/{symbol}_{month}.csv", index=False)

NameError: name 'symbol' is not defined

In [23]:

data_df.between_time(start_time="9:30", end_time="16:00")

                         open      high       low     close volume
time
2024-11-29 15:59:00  227.8000  227.8000  227.8000  227.8000     70
2024-11-29 15:58:00  227.8000  227.8000  227.8000  227.8000      1
2024-11-29 15:55:00  227.5800  227.8000  227.5800  227.8000     64
2024-11-29 15:53:00  227.5800  227.5800  227.5800  227.5800     36
2024-11-29 15:47:00  227.5800  227.5800  227.5800  227.5800     18
...                       ...       ...       ...       ...    ...
2024-11-01 09:34:00  206.3358  206.6970  206.2664  206.5739   7443
2024-11-01 09:33:00  206.2070  206.5154  206.1572  206.3458  10009
2024-11-01 09:32:00  206.4251  206.5045  206.0377  206.5045   6320
2024-11-01 09:31:00  206.1622  206.3557  206.1275  206.3557   5343
2024-11-01 09:30:00  206.1374  206.4946  205.7802  206.2713  68410

[7688 rows x 5 columns]

In [ ]:
stickers = pd.read_csv("/home/bandee/projects/stockAnalyzer/configs/nasdaq_screener.csv")
stickers["Market Cap"] = stickers["Market Cap"].astype("Int64")
stickers["IPO Year"] = stickers["IPO Year"].astype("Int64")

stickers.columns = ['symbol', 'company_name', 'market_cap', 'country', 'ipo_year', 'sector', 'industry']
stickers.to_csv("/home/bandee/projects/stockAnalyzer/configs/nasdaq_screener.csv", index=False)